<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newedu.attnms.dao.UserDao">

    <select id="login" parameterType="user"
            resultType="user">
        SELECT * FROM  tbl_users
        <where>
            <if test="username != null">
                username=#{username}
            </if>
            <if test="password != null">
                password=#{password}
            </if>
        </where>
    </select>
    <select id="isExistBy" parameterType="string" resultType="int">

        SELECT count(username) FROM  tbl_users
        <where>
            <if test="_parameter!=null">
                username = #{username};
            </if>
        </where>
    </select>

</mapper>